Class Task 3

A = np.array([[2, -1] [0, 3]])
B = np.array([[1, 4] [-2, 5]])

c = 2
d = 3