## Student Performance Analysis with Linear Algebra

In [1]:
import numpy as np

1. Create a new 5×4 matrix of scores (5 students, 4 subjects). Compute each student’s total
score and the average per subject.

In [27]:
# Creating sudent data
"""
students            Maths               English             Science             Literature
Student1             90                    70                  50                   60
Student2             70                    25                  65                   72
Student3             85                    88                  90                   87
Student4             75                    80                  65                   77
Student5             40                    31                  55                   44

"""



student1 = np.array([90, 70, 50, 60])
student2 = np.array([70, 25, 65, 72])
student3 = np.array([85, 88, 90, 87])
student4 = np.array([75, 80, 65, 77])
student5 = np.array([40, 31, 55, 44])



students_data = np.array([[90, 70, 50, 60],  
                          [70, 25, 65, 72],
                          [85, 88, 90, 87],
                          [75, 80, 65, 77],
                          [40, 31, 55, 44]])

# calculate student1 total score
student1_total_score = np.sum(students_data[0, :])
print("Student1 Total Score:", student1_total_score)

# calculate student2 total score
student2_total_score = np.sum(students_data[1, :])
print("Student2 Total Score:", student2_total_score)

# calculate student3 total score
student3_total_score = np.sum(students_data[2, :])
print("Student3 Total Score:", student3_total_score)

# calculate student4 total score
student4_total_score = np.sum(students_data[3, :])
print("Student4 Total Score:", student4_total_score)


# calculate student5 total score
student5_total_score = np.sum(students_data[4, :])
print("Student5 Total Score:", student5_total_score)

Student1 Total Score: 270
Student2 Total Score: 232
Student3 Total Score: 350
Student4 Total Score: 297
Student5 Total Score: 170

In [30]:
students_data

array([[90, 70, 50, 60],
       [70, 25, 65, 72],
       [85, 88, 90, 87],
       [75, 80, 65, 77],
       [40, 31, 55, 44]])

In [36]:
# Students Average per Subject

maths = np.sum(students_data[:, 0])
print("Maths Total score:", maths)

english = np.sum(students_data[:, 1])
print("English Total score:", english)

science = np.sum(students_data[:, 2])
print("Science Total score:", science)

literature = np.sum(students_data[:, 2])
print("Literature Total score:", literature)

Maths Total score: 360
English Total score: 294
Science Total score: 325
Literature Total score: 325