In [4]:
import sys
print(sys.executable)

c:\Users\USER\Desktop\AI_Engr\Osisami\Scripts\python.exe

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stat

In [6]:
df = pd.read_csv("data.csv")

In [7]:
df.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

In [8]:
# To find beef consumers in Argentina


arg_beef_consumers = df[(df["country"] == "Argentina") & (df["food_category"] == "beef")]
arg_beef_consumers

   Unnamed: 0    country food_category  consumption  co2_emission
2           3  Argentina          beef        55.48        1712.0

In [9]:
# To find beef consumers in Bandladesh

bang_beef_consumers = df[(df["country"]== "Bangladesh") & (df["food_category"] == "beef")]
bang_beef_consumers

      Unnamed: 0     country food_category  consumption  co2_emission
1421        1422  Bangladesh          beef         1.28          39.5

In [10]:
# Calling the beaf consumption features columns of the two countries
arg_consumption = arg_beef_consumers["consumption"]
bang_consumption = bang_beef_consumers["consumption"]

In [11]:
print("Number of Beef consumption in Argentina is", arg_consumption)
print("Number of Beef consumption in Bangladesh is", bang_consumption)

Number of Beef consumption in Argentina is 2    55.48
Name: consumption, dtype: float64
Number of Beef consumption in Bangladesh is 1421    1.28
Name: consumption, dtype: float64

In [12]:
# Finding the mean of the beef consumptions in the two countries


mean_arg_consumption = arg_consumption.mean()
mean_bang_consumption = bang_consumption.mean()

print("The mean of Beef consumption in Argentina is", mean_arg_consumption)
print("The mean of Beef consumption in Bangladesh is", mean_bang_consumption)

The mean of Beef consumption in Argentina is 55.48
The mean of Beef consumption in Bangladesh is 1.28

In [13]:
rg_beef_samples = np.random.normal(loc= mean_arg_consumption, scale=5, size=30)
rg_beef_samples

array([57.91526006, 58.98861362, 50.14618184, 57.39884641, 56.26997018,
       50.18325807, 56.11223656, 50.92454822, 57.24798753, 55.50292699,
       59.20208153, 48.98699886, 54.74292039, 49.98215371, 58.66037369,
       55.79507245, 60.52081161, 55.11297371, 55.8700305 , 57.57524371,
       58.60425597, 58.07952958, 59.05412715, 49.89989528, 44.82410877,
       59.41386809, 58.08928546, 58.85189513, 48.80255105, 58.35215943])

In [15]:
# Calculating the t-test and Pvalue of the beef conumption in Argentina and Bangladesh

t_stat, p_val = stat.ttest_1samp(rg_beef_samples, 50)

In [16]:
print("T_Stat is:", t_stat)
print("P_Value is:", p_val)

T_Stat is: 7.15207420478289
P_Value is: 7.159677095571105e-08